<p>
  If everyone in the world were to fit into
  <select ng-model="person_area" ng-options="value as name for (name, value) in person_areas"></select>
  the global population would fill
  {{population.current().mul(person_area) | unit:'square kilometers':6}}
</p>
<p>
  That's
  <select ng-model="area" ng-options="name as population.current().mul(person_area).div(value)|unit:'':3 for (name, value) in areas"></select>
  times the
  <select ng-model="area" ng-options="name as name for (name, value) in areas"></select>
</p>

<section class="quantity visualisation">
  <img ng-src="images/{{distance}}.png" ng-repeat="thing in population.current().mul(averagePerson.depth).div(distances[distance]).scalar | range">
</section>
