.slide {
  font-family: 'Noto Sans' sans-serif;
}

.slide h1,
.slide h2,
.slide h3 {
  font-family: 'Roboto Slab' serif;
  font-size: 2em;
}

.slide p {
  font-size: 1.2em;
}

.slide em {
  font-size: 1.3em;
  font-weight: bold;
  font-style: normal;
}

.slide select {
  webkit-appearance: none;

  font-family: 'Noto Sans' sans-serif;
  font-size: 1em;
}
